.questions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.question {
    display: block;
    margin: 20px;
    padding: 12px;
    font-size: 22px;
    border-radius: 12px;
    min-width: 240px;

    &__index {
        font-weight: 800;
        border-bottom: 5px solid $main-color;
        border-image-slice: 1;
        display: inline-block;
        margin-bottom: 12px;
    }
}

.answers {
    margin-bottom: 40px;
}

.answer {
    cursor: pointer;
    padding: 12px;
    margin: 20px;
    border-radius: 12px;
    font-weight: 400;

    &:active {
        transform: translateY(2px);
        opacity: 0.8;
        box-shadow: none;
    }

    &:nth-child(even) {
        background-color: $gray;
        color: white;
    }

    &:nth-child(odd) {
        background-color: white;
        border: $gray solid 2px;
    }
}

.gage {
    background-color: rgb(242, 242, 242);

    span {
        display: flex;
        background-color: #f4c14e;
        // width: 30%;
        text-align: end;
        height: 20px;
        transition: width .5s;
    }
}
